In [ ]:
Steps Data sceince project




1. Problem Statement - done 
2. Data  Gathering  - done
3. EDA - done
4. Preprocessing (Feature Engg , Feature Selection) - done 
5. Model Training
6. Model Evaluation 
7. Deployment - focused

In [ ]:
Deployment :
    
    Cloud Server (Host/ store AI/ML/DL App)
    
    Cloud Server Provider (AWS[Amazon web Services],GCP [Google cloud platform], Microsoft Azure, Digital Ocean)

In [ ]:
### we want to categories or predict based on CGPA , IQ & Profile score 

# whether student will placed or not

In [1]:
import numpy as  np
import pandas as pd

In [2]:
df = pd.read_csv('st.csv')
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cgpa           300 non-null    float64
 1   iq             300 non-null    int64
 2   profile_score  300 non-null    int64
 3   placed         300 non-null    int64
dtypes: float64(1), int64(3)
memory usage: 9.5 KB

In [4]:
X = df.drop(columns=['placed'])

y = df['placed']

In [5]:
X

     cgpa   iq  profile_score
0    5.97  106             61
1    6.83  113             77
2    6.60  110             61
3    5.54  113             68
4    6.84  102             67
..    ...  ...            ...
295  6.44  107             54
296  6.09  108             52
297  7.68  101             70
298  7.00   90             28
299  4.79  118             70

[300 rows x 3 columns]

In [6]:
y

0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    1
298    1
299    0
Name: placed, Length: 300, dtype: int64

In [7]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [8]:
X_train

     cgpa   iq  profile_score
66   6.42  115             59
163  5.52  116             58
205  6.70  102             58
53   8.43   88             42
246  6.14  110             57
..    ...  ...            ...
75   5.76  108             64
22   7.36  105             77
72   6.15   85             63
15   7.88   91             59
168  8.12   94             72

[240 rows x 3 columns]

In [20]:
y_train[:10]

66     0
163    0
205    1
53     1
246    0
23     1
160    0
157    0
126    0
156    0
Name: placed, dtype: int64

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [12]:
log_reg = LogisticRegression()

log_reg.fit(X_train,y_train)  # Model training

LogisticRegression()

In [14]:
y_pred = log_reg.predict(X_test)
y_pred[:10]

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0], dtype=int64)

In [15]:
y_test[:10]

98     1
259    0
184    1
256    1
29     1
254    1
7      1
13     1
230    1
91     0
Name: placed, dtype: int64

In [16]:
score = accuracy_score(y_test,y_pred)
score

0.8833333333333333

In [17]:
import pickle

In [18]:
pickle.dump(log_reg,open('model.pkl','wb'))

In [ ]:
base env of anaconda --- >>> python 3.9.5 Serialising (dump)

aws env ----->> python 3.8.12 deserialising (load)