In [4]:
import numpy as np
import numpy as  np
import pandas as pd

In [5]:
df = pd.read_csv('st.csv')
df

     cgpa   iq  profile_score  placed
0    5.97  106             61       0
1    6.83  113             77       0
2    6.60  110             61       0
3    5.54  113             68       0
4    6.84  102             67       0
..    ...  ...            ...     ...
295  6.44  107             54       0
296  6.09  108             52       0
297  7.68  101             70       1
298  7.00   90             28       1
299  4.79  118             70       0

[300 rows x 4 columns]

In [6]:
x = df.drop(columns=['placed'])

y = df['placed']

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [8]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [9]:
log_reg = LogisticRegression()

In [14]:
log_reg.fit(x_train.values,y_train.values)

LogisticRegression()

In [15]:
import pickle

In [16]:
pickle.dump(log_reg,open('model1.pkl','wb'))